<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" class="form-control" name="user" id="user" placeholder="Your name" [(ngModel)]="user"
               required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="email" id="email" placeholder="Your email" [(ngModel)]="email"
               required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="company" id="company" placeholder="Your company"
               [(ngModel)]="company" required>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" required>I'm at least 18 years old and agree with the&nbsp;
        </label><a (click)="toggleTerms()">terms and conditions</a>
    </div>

    <div class="well" *ngIf="showTerms">Closing date: 12th May 2017. The judges’ decision is final and there is no cash
        prize alternative. Participants must be 18 years of age by the competition start - 11th May 2017 – and answer
        all questions correctly and completely. Winners will be informed by email by Porsche Informatik G.m.b.H.
        Participants agree that winners’ name and photograph will be published. Employees of the Austrian Volkswagen
        Organisation and Porsche Holding Salzburg are excluded from participation. Participants agree that their data
        may be used for the recruitment purposes. Participants agree that they may be informed of open positions by
        telephone, post or email. This consent may be withdrawn at any time via wad@porscheinformatik.at. Competition
        organiser: Porsche Informatik G.m.b.H., Louise-Piëch-Straße 9, 5020 Salzburg, Austria.
    </div>

    <re-captcha site_key="6LfdoCAUAAAAAE1uOMVE0Lyc7ueImDMCCa0TYJEh"></re-captcha>

    <button type="submit" class="btn btn-primary">Submit your result!</button>

</form>

