<div class="well">
    <h1>Imprint</h1>
    <p>Porsche Informatik Gesellschaft m.b.H.<br> Louise-Piëch-Straße 9<br> Salzburg<br> 5020 Austria<br> T +43 662
        4670-0<br> E info@porscheinformatik.at</p>
    <p>Based in Salzburg<br> Commercial register no. 72830 d / Jurisdiction: Salzburg<br> Data protection no. 88439<br>
        UID ATU 36773309</p>
    <p>Liability / Protection Data</p>
    <p><strong>Copyright:</strong> All texts and other information published here, except for specified items, are
        subject to the copyright of Porsche Informatik. Reproduction of part or the whole is not permitted without
        written permission from Porsche Informatik.</p>
    <p><strong>Image rights:</strong> Porsche Austria GmbH, Intercar Gmbh, Seat Austria Gmbh, Porsche Informatik GmbH.
    </p>
    <p><strong>Liability note:</strong> despite careful content checks, we accept no liability for the content of
        external links. Exclusively the operators of the linked websites are responsible for their content.</p>
    <p><strong>Data Protection:</strong> We will only use your personal information within Porsche Informatik GmbH. We
        do not pass your data on to third parties.</p>
    <p>Responsible for content:<br> Porsche Informatik GmbH.</p>
</div>